In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import matplotlib.pyplot as plt
import seaborn as sns

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/home-credit-default-risk/bureau_balance.csv
/kaggle/input/home-credit-default-risk/credit_card_balance.csv
/kaggle/input/home-credit-default-risk/previous_application.csv
/kaggle/input/home-credit-default-risk/application_test.csv
/kaggle/input/home-credit-default-risk/installments_payments.csv
/kaggle/input/home-credit-default-risk/bureau.csv
/kaggle/input/home-credit-default-risk/HomeCredit_columns_description.csv
/kaggle/input/home-credit-default-risk/POS_CASH_balance.csv
/kaggle/input/home-credit-default-risk/sample_submission.csv
/kaggle/input/home-credit-default-risk/application_train.csv

In [2]:
train = pd.read_csv('/kaggle/input/home-credit-default-risk/application_train.csv')
test = pd.read_csv('/kaggle/input/home-credit-default-risk/application_test.csv')
train.shape, test.shape

((307511, 122), (48744, 121))

In [3]:
missing_cols = [(col, train[col].isna().sum()) for col in train.columns if train[col].isna().any()]
missing_cols.extend([(col, test[col].isna().sum()) for col in test.columns if test[col].isna().any()])
missing_cols

[('AMT_ANNUITY', 12),
 ('AMT_GOODS_PRICE', 278),
 ('NAME_TYPE_SUITE', 1292),
 ('OWN_CAR_AGE', 202929),
 ('OCCUPATION_TYPE', 96391),
 ('CNT_FAM_MEMBERS', 2),
 ('EXT_SOURCE_1', 173378),
 ('EXT_SOURCE_2', 660),
 ('EXT_SOURCE_3', 60965),
 ('APARTMENTS_AVG', 156061),
 ('BASEMENTAREA_AVG', 179943),
 ('YEARS_BEGINEXPLUATATION_AVG', 150007),
 ('YEARS_BUILD_AVG', 204488),
 ('COMMONAREA_AVG', 214865),
 ('ELEVATORS_AVG', 163891),
 ('ENTRANCES_AVG', 154828),
 ('FLOORSMAX_AVG', 153020),
 ('FLOORSMIN_AVG', 208642),
 ('LANDAREA_AVG', 182590),
 ('LIVINGAPARTMENTS_AVG', 210199),
 ('LIVINGAREA_AVG', 154350),
 ('NONLIVINGAPARTMENTS_AVG', 213514),
 ('NONLIVINGAREA_AVG', 169682),
 ('APARTMENTS_MODE', 156061),
 ('BASEMENTAREA_MODE', 179943),
 ('YEARS_BEGINEXPLUATATION_MODE', 150007),
 ('YEARS_BUILD_MODE', 204488),
 ('COMMONAREA_MODE', 214865),
 ('ELEVATORS_MODE', 163891),
 ('ENTRANCES_MODE', 154828),
 ('FLOORSMAX_MODE', 153020),
 ('FLOORSMIN_MODE', 208642),
 ('LANDAREA_MODE', 182590),
 ('LIVINGAPARTMENTS_MODE', 210199),
 ('LIVINGAREA_MODE', 154350),
 ('NONLIVINGAPARTMENTS_MODE', 213514),
 ('NONLIVINGAREA_MODE', 169682),
 ('APARTMENTS_MEDI', 156061),
 ('BASEMENTAREA_MEDI', 179943),
 ('YEARS_BEGINEXPLUATATION_MEDI', 150007),
 ('YEARS_BUILD_MEDI', 204488),
 ('COMMONAREA_MEDI', 214865),
 ('ELEVATORS_MEDI', 163891),
 ('ENTRANCES_MEDI', 154828),
 ('FLOORSMAX_MEDI', 153020),
 ('FLOORSMIN_MEDI', 208642),
 ('LANDAREA_MEDI', 182590),
 ('LIVINGAPARTMENTS_MEDI', 210199),
 ('LIVINGAREA_MEDI', 154350),
 ('NONLIVINGAPARTMENTS_MEDI', 213514),
 ('NONLIVINGAREA_MEDI', 169682),
 ('FONDKAPREMONT_MODE', 210295),
 ('HOUSETYPE_MODE', 154297),
 ('TOTALAREA_MODE', 148431),
 ('WALLSMATERIAL_MODE', 156341),
 ('EMERGENCYSTATE_MODE', 145755),
 ('OBS_30_CNT_SOCIAL_CIRCLE', 1021),
 ('DEF_30_CNT_SOCIAL_CIRCLE', 1021),
 ('OBS_60_CNT_SOCIAL_CIRCLE', 1021),
 ('DEF_60_CNT_SOCIAL_CIRCLE', 1021),
 ('DAYS_LAST_PHONE_CHANGE', 1),
 ('AMT_REQ_CREDIT_BUREAU_HOUR', 41519),
 ('AMT_REQ_CREDIT_BUREAU_DAY', 41519),
 ('AMT_REQ_CREDIT_BUREAU_WEEK', 41519),
 ('AMT_REQ_CREDIT_BUREAU_MON', 41519),
 ('AMT_REQ_CREDIT_BUREAU_QRT', 41519),
 ('AMT_REQ_CREDIT_BUREAU_YEAR', 41519),
 ('AMT_ANNUITY', 24),
 ('NAME_TYPE_SUITE', 911),
 ('OWN_CAR_AGE', 32312),
 ('OCCUPATION_TYPE', 15605),
 ('EXT_SOURCE_1', 20532),
 ('EXT_SOURCE_2', 8),
 ('EXT_SOURCE_3', 8668),
 ('APARTMENTS_AVG', 23887),
 ('BASEMENTAREA_AVG', 27641),
 ('YEARS_BEGINEXPLUATATION_AVG', 22856),
 ('YEARS_BUILD_AVG', 31818),
 ('COMMONAREA_AVG', 33495),
 ('ELEVATORS_AVG', 25189),
 ('ENTRANCES_AVG', 23579),
 ('FLOORSMAX_AVG', 23321),
 ('FLOORSMIN_AVG', 32466),
 ('LANDAREA_AVG', 28254),
 ('LIVINGAPARTMENTS_AVG', 32780),
 ('LIVINGAREA_AVG', 23552),
 ('NONLIVINGAPARTMENTS_AVG', 33347),
 ('NONLIVINGAREA_AVG', 26084),
 ('APARTMENTS_MODE', 23887),
 ('BASEMENTAREA_MODE', 27641),
 ('YEARS_BEGINEXPLUATATION_MODE', 22856),
 ('YEARS_BUILD_MODE', 31818),
 ('COMMONAREA_MODE', 33495),
 ('ELEVATORS_MODE', 25189),
 ('ENTRANCES_MODE', 23579),
 ('FLOORSMAX_MODE', 23321),
 ('FLOORSMIN_MODE', 32466),
 ('LANDAREA_MODE', 28254),
 ('LIVINGAPARTMENTS_MODE', 32780),
 ('LIVINGAREA_MODE', 23552),
 ('NONLIVINGAPARTMENTS_MODE', 33347),
 ('NONLIVINGAREA_MODE', 26084),
 ('APARTMENTS_MEDI', 23887),
 ('BASEMENTAREA_MEDI', 27641),
 ('YEARS_BEGINEXPLUATATION_MEDI', 22856),
 ('YEARS_BUILD_MEDI', 31818),
 ('COMMONAREA_MEDI', 33495),
 ('ELEVATORS_MEDI', 25189),
 ('ENTRANCES_MEDI', 23579),
 ('FLOORSMAX_MEDI', 23321),
 ('FLOORSMIN_MEDI', 32466),
 ('LANDAREA_MEDI', 28254),
 ('LIVINGAPARTMENTS_MEDI', 32780),
 ('LIVINGAREA_MEDI', 23552),
 ('NONLIVINGAPARTMENTS_MEDI', 33347),
 ('NONLIVINGAREA_MEDI', 26084),
 ('FONDKAPREMONT_MODE', 32797),
 ('HOUSETYPE_MODE', 23619),
 ('TOTALAREA_MODE', 22624),
 ('WALLSMATERIAL_MODE', 23893),
 ('EMERGENCYSTATE_MODE', 22209),
 ('OBS_30_CNT_SOCIAL_CIRCLE', 29),
 ('DEF_30_CNT_SOCIAL_CIRCLE', 29),
 ('OBS_60_CNT_SOCIAL_CIRCLE', 29),
 ('DEF_60_CNT_SOCIAL_CIRCLE', 29),
 ('AMT_REQ_CREDIT_BUREAU_HOUR', 6049),
 ('AMT_REQ_CREDIT_BUREAU_DAY', 6049),
 ('AMT_REQ_CREDIT_BUREAU_WEEK', 6049),
 ('AMT_REQ_CREDIT_BUREAU_MON', 6049),
 ('AMT_REQ_CREDIT_BUREAU_QRT', 6049),
 ('AMT_REQ_CREDIT_BUREAU_YEAR', 6049)]

In [4]:
train_copy = train.copy()
test_copy = test.copy()

train_y = train_copy['TARGET']
train_x = train_copy.drop('TARGET', axis=1)
test_x = test_copy

train_x = pd.get_dummies(train_x)
test_x = pd.get_dummies(test_x)

train_x, test_x = train_x.align(test_x, join = 'inner', axis = 1)
train_x.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,100002,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,-3648.0,...,0,0,0,0,0,0,1,0,1,0
1,100003,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,-1186.0,...,0,1,0,0,0,0,0,0,1,0
2,100004,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,-4260.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,-9833.0,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,-4311.0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
for col in train_x.columns:
    print(train_x[col].describe())

count    307511.000000
mean     278180.518577
std      102790.175348
min      100002.000000
25%      189145.500000
50%      278202.000000
75%      367142.500000
max      456255.000000
Name: SK_ID_CURR, dtype: float64
count    307511.000000
mean          0.417052
std           0.722121
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          19.000000
Name: CNT_CHILDREN, dtype: float64
count    3.075110e+05
mean     1.687979e+05
std      2.371231e+05
min      2.565000e+04
25%      1.125000e+05
50%      1.471500e+05
75%      2.025000e+05
max      1.170000e+08
Name: AMT_INCOME_TOTAL, dtype: float64
count    3.075110e+05
mean     5.990260e+05
std      4.024908e+05
min      4.500000e+04
25%      2.700000e+05
50%      5.135310e+05
75%      8.086500e+05
max      4.050000e+06
Name: AMT_CREDIT, dtype: float64
count    307499.000000
mean      27108.573909
std       14493.737315
min        1615.500000
25%       16524.000000
50%       24903.000000
75%       34596.000000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64
count    3.072330e+05
mean     5.383962e+05
std      3.694465e+05
min      4.050000e+04
25%      2.385000e+05
50%      4.500000e+05
75%      6.795000e+05
max      4.050000e+06
Name: AMT_GOODS_PRICE, dtype: float64
count    307511.000000
mean          0.020868
std           0.013831
min           0.000290
25%           0.010006
50%           0.018850
75%           0.028663
max           0.072508
Name: REGION_POPULATION_RELATIVE, dtype: float64
count    307511.000000
mean     -16036.995067
std        4363.988632
min      -25229.000000
25%      -19682.000000
50%      -15750.000000
75%      -12413.000000
max       -7489.000000
Name: DAYS_BIRTH, dtype: float64
count    307511.000000
mean      63815.045904
std      141275.766519
min      -17912.000000
25%       -2760.000000
50%       -1213.000000
75%        -289.000000
max      365243.000000
Name: DAYS_EMPLOYED, dtype: float64
count    307511.000000
mean      -4986.120328
std        3522.886321
min      -24672.000000
25%       -7479.500000
50%       -4504.000000
75%       -2010.000000
max           0.000000
Name: DAYS_REGISTRATION, dtype: float64
count    307511.000000
mean      -2994.202373
std        1509.450419
min       -7197.000000
25%       -4299.000000
50%       -3254.000000
75%       -1720.000000
max           0.000000
Name: DAYS_ID_PUBLISH, dtype: float64
count    104582.000000
mean         12.061091
std          11.944812
min           0.000000
25%           5.000000
50%           9.000000
75%          15.000000
max          91.000000
Name: OWN_CAR_AGE, dtype: float64
count    307511.000000
mean          0.999997
std           0.001803
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: FLAG_MOBIL, dtype: float64
count    307511.000000
mean          0.819889
std           0.384280
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: FLAG_EMP_PHONE, dtype: float64
count    307511.000000
mean          0.199368
std           0.399526
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_WORK_PHONE, dtype: float64
count    307511.000000
mean          0.998133
std           0.043164
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: FLAG_CONT_MOBILE, dtype: float64
count    307511.000000
mean          0.281066
std           0.449521
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: FLAG_PHONE, dtype: float64
count    307511.000000
mean          0.056720
std           0.231307
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_EMAIL, dtype: float64
count    307509.000000
mean          2.152665
std           0.910682
min           1.000000
25%           2.000000
50%           2.000000
75%           3.000000
max          20.000000
Name: CNT_FAM_MEMBERS, dtype: float64
count    307511.000000
mean          2.052463
std           0.509034
min           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max           3.000000
Name: REGION_RATING_CLIENT, dtype: float64
count    307511.000000
mean          2.031521
std           0.502737
min           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max           3.000000
Name: REGION_RATING_CLIENT_W_CITY, dtype: float64
count    307511.000000
mean         12.063419
std           3.265832
min           0.000000
25%          10.000000
50%          12.000000
75%          14.000000
max          23.000000
Name: HOUR_APPR_PROCESS_START, dtype: float64
count    307511.000000
mean          0.015144
std           0.122126
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: REG_REGION_NOT_LIVE_REGION, dtype: float64
count    307511.000000
mean          0.050769
std           0.219526
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: REG_REGION_NOT_WORK_REGION, dtype: float64
count    307511.000000
mean          0.040659
std           0.197499
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: LIVE_REGION_NOT_WORK_REGION, dtype: float64
count    307511.000000
mean          0.078173
std           0.268444
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: REG_CITY_NOT_LIVE_CITY, dtype: float64
count    307511.000000
mean          0.230454
std           0.421124
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: REG_CITY_NOT_WORK_CITY, dtype: float64
count    307511.000000
mean          0.179555
std           0.383817
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: LIVE_CITY_NOT_WORK_CITY, dtype: float64
count    134133.000000
mean          0.502130
std           0.211062
min           0.014568
25%           0.334007
50%           0.505998
75%           0.675053
max           0.962693
Name: EXT_SOURCE_1, dtype: float64
count    3.068510e+05
mean     5.143927e-01
std      1.910602e-01
min      8.173617e-08
25%      3.924574e-01
50%      5.659614e-01
75%      6.636171e-01
max      8.549997e-01
Name: EXT_SOURCE_2, dtype: float64
count    246546.000000
mean          0.510853
std           0.194844
min           0.000527
25%           0.370650
50%           0.535276
75%           0.669057
max           0.896010
Name: EXT_SOURCE_3, dtype: float64
count    151450.00000
mean          0.11744
std           0.10824
min           0.00000
25%           0.05770
50%           0.08760
75%           0.14850
max           1.00000
Name: APARTMENTS_AVG, dtype: float64
count    127568.000000
mean          0.088442
std           0.082438
min           0.000000
25%           0.044200
50%           0.076300
75%           0.112200
max           1.000000
Name: BASEMENTAREA_AVG, dtype: float64
count    157504.000000
mean          0.977735
std           0.059223
min           0.000000
25%           0.976700
50%           0.981600
75%           0.986600
max           1.000000
Name: YEARS_BEGINEXPLUATATION_AVG, dtype: float64
count    103023.000000
mean          0.752471
std           0.113280
min           0.000000
25%           0.687200
50%           0.755200
75%           0.823200
max           1.000000
Name: YEARS_BUILD_AVG, dtype: float64
count    92646.000000
mean         0.044621
std          0.076036
min          0.000000
25%          0.007800
50%          0.021100
75%          0.051500
max          1.000000
Name: COMMONAREA_AVG, dtype: float64
count    143620.000000
mean          0.078942
std           0.134576
min           0.000000
25%           0.000000
50%           0.000000
75%           0.120000
max           1.000000
Name: ELEVATORS_AVG, dtype: float64
count    152683.000000
mean          0.149725
std           0.100049
min           0.000000
25%           0.069000
50%           0.137900
75%           0.206900
max           1.000000
Name: ENTRANCES_AVG, dtype: float64
count    154491.000000
mean          0.226282
std           0.144641
min           0.000000
25%           0.166700
50%           0.166700
75%           0.333300
max           1.000000
Name: FLOORSMAX_AVG, dtype: float64
count    98869.000000
mean         0.231894
std          0.161380
min          0.000000
25%          0.083300
50%          0.208300
75%          0.375000
max          1.000000
Name: FLOORSMIN_AVG, dtype: float64
count    124921.000000
mean          0.066333
std           0.081184
min           0.000000
25%           0.018700
50%           0.048100
75%           0.085600
max           1.000000
Name: LANDAREA_AVG, dtype: float64
count    97312.000000
mean         0.100775
std          0.092576
min          0.000000
25%          0.050400
50%          0.075600
75%          0.121000
max          1.000000
Name: LIVINGAPARTMENTS_AVG, dtype: float64
count    153161.000000
mean          0.107399
std           0.110565
min           0.000000
25%           0.045300
50%           0.074500
75%           0.129900
max           1.000000
Name: LIVINGAREA_AVG, dtype: float64
count    93997.000000
mean         0.008809
std          0.047732
min          0.000000
25%          0.000000
50%          0.000000
75%          0.003900
max          1.000000
Name: NONLIVINGAPARTMENTS_AVG, dtype: float64
count    137829.000000
mean          0.028358
std           0.069523
min           0.000000
25%           0.000000
50%           0.003600
75%           0.027700
max           1.000000
Name: NONLIVINGAREA_AVG, dtype: float64
count    151450.000000
mean          0.114231
std           0.107936
min           0.000000
25%           0.052500
50%           0.084000
75%           0.143900
max           1.000000
Name: APARTMENTS_MODE, dtype: float64
count    127568.000000
mean          0.087543
std           0.084307
min           0.000000
25%           0.040700
50%           0.074600
75%           0.112400
max           1.000000
Name: BASEMENTAREA_MODE, dtype: float64

count    157504.000000
mean          0.977065
std           0.064575
min           0.000000
25%           0.976700
50%           0.981600
75%           0.986600
max           1.000000
Name: YEARS_BEGINEXPLUATATION_MODE, dtype: float64
count    103023.000000
mean          0.759637
std           0.110111
min           0.000000
25%           0.699400
50%           0.764800
75%           0.823600
max           1.000000
Name: YEARS_BUILD_MODE, dtype: float64
count    92646.000000
mean         0.042553
std          0.074445
min          0.000000
25%          0.007200
50%          0.019000
75%          0.049000
max          1.000000
Name: COMMONAREA_MODE, dtype: float64
count    143620.000000
mean          0.074490
std           0.132256
min           0.000000
25%           0.000000
50%           0.000000
75%           0.120800
max           1.000000
Name: ELEVATORS_MODE, dtype: float64
count    152683.000000
mean          0.145193
std           0.100977
min           0.000000
25%           0.069000
50%           0.137900
75%           0.206900
max           1.000000
Name: ENTRANCES_MODE, dtype: float64
count    154491.000000
mean          0.222315
std           0.143709
min           0.000000
25%           0.166700
50%           0.166700
75%           0.333300
max           1.000000
Name: FLOORSMAX_MODE, dtype: float64
count    98869.000000
mean         0.228058
std          0.161160
min          0.000000
25%          0.083300
50%          0.208300
75%          0.375000
max          1.000000
Name: FLOORSMIN_MODE, dtype: float64
count    124921.000000
mean          0.064958
std           0.081750
min           0.000000
25%           0.016600
50%           0.045800
75%           0.084100
max           1.000000
Name: LANDAREA_MODE, dtype: float64
count    97312.000000
mean         0.105645
std          0.097880
min          0.000000
25%          0.054200
50%          0.077100
75%          0.131300
max          1.000000
Name: LIVINGAPARTMENTS_MODE, dtype: float64
count    153161.000000
mean          0.105975
std           0.111845
min           0.000000
25%           0.042700
50%           0.073100
75%           0.125200
max           1.000000
Name: LIVINGAREA_MODE, dtype: float64
count    93997.000000
mean         0.008076
std          0.046276
min          0.000000
25%          0.000000
50%          0.000000
75%          0.003900
max          1.000000
Name: NONLIVINGAPARTMENTS_MODE, dtype: float64
count    137829.000000
mean          0.027022
std           0.070254
min           0.000000
25%           0.000000
50%           0.001100
75%           0.023100
max           1.000000
Name: NONLIVINGAREA_MODE, dtype: float64
count    151450.000000
mean          0.117850
std           0.109076
min           0.000000
25%           0.058300
50%           0.086400
75%           0.148900
max           1.000000
Name: APARTMENTS_MEDI, dtype: float64
count    127568.000000
mean          0.087955
std           0.082179
min           0.000000
25%           0.043700
50%           0.075800
75%           0.111600
max           1.000000
Name: BASEMENTAREA_MEDI, dtype: float64
count    157504.000000
mean          0.977752
std           0.059897
min           0.000000
25%           0.976700
50%           0.981600
75%           0.986600
max           1.000000
Name: YEARS_BEGINEXPLUATATION_MEDI, dtype: float64
count    103023.000000
mean          0.755746
std           0.112066
min           0.000000
25%           0.691400
50%           0.758500
75%           0.825600
max           1.000000
Name: YEARS_BUILD_MEDI, dtype: float64
count    92646.000000
mean         0.044595
std          0.076144
min          0.000000
25%          0.007900
50%          0.020800
75%          0.051300
max          1.000000
Name: COMMONAREA_MEDI, dtype: float64
count    143620.000000
mean          0.078078
std           0.134467
min           0.000000
25%           0.000000
50%           0.000000
75%           0.120000
max           1.000000
Name: ELEVATORS_MEDI, dtype: float64
count    152683.000000
mean          0.149213
std           0.100368
min           0.000000
25%           0.069000
50%           0.137900
75%           0.206900
max           1.000000
Name: ENTRANCES_MEDI, dtype: float64
count    154491.000000
mean          0.225897
std           0.145067
min           0.000000
25%           0.166700
50%           0.166700
75%           0.333300
max           1.000000
Name: FLOORSMAX_MEDI, dtype: float64
count    98869.000000
mean         0.231625
std          0.161934
min          0.000000
25%          0.083300
50%          0.208300
75%          0.375000
max          1.000000
Name: FLOORSMIN_MEDI, dtype: float64
count    124921.000000
mean          0.067169
std           0.082167
min           0.000000
25%           0.018700
50%           0.048700
75%           0.086800
max           1.000000
Name: LANDAREA_MEDI, dtype: float64
count    97312.000000
mean         0.101954
std          0.093642
min          0.000000
25%          0.051300
50%          0.076100
75%          0.123100
max          1.000000
Name: LIVINGAPARTMENTS_MEDI, dtype: float64
count    153161.000000
mean          0.108607
std           0.112260
min           0.000000
25%           0.045700
50%           0.074900
75%           0.130300
max           1.000000
Name: LIVINGAREA_MEDI, dtype: float64
count    93997.000000
mean         0.008651
std          0.047415
min          0.000000
25%          0.000000
50%          0.000000
75%          0.003900
max          1.000000
Name: NONLIVINGAPARTMENTS_MEDI, dtype: float64
count    137829.000000
mean          0.028236
std           0.070166
min           0.000000
25%           0.000000
50%           0.003100
75%           0.026600
max           1.000000
Name: NONLIVINGAREA_MEDI, dtype: float64
count    159080.000000
mean          0.102547
std           0.107462
min           0.000000
25%           0.041200
50%           0.068800
75%           0.127600
max           1.000000
Name: TOTALAREA_MODE, dtype: float64
count    306490.000000
mean          1.422245
std           2.400989
min           0.000000
25%           0.000000
50%           0.000000
75%           2.000000
max         348.000000
Name: OBS_30_CNT_SOCIAL_CIRCLE, dtype: float64
count    306490.000000
mean          0.143421
std           0.446698
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          34.000000
Name: DEF_30_CNT_SOCIAL_CIRCLE, dtype: float64
count    306490.000000
mean          1.405292
std           2.379803
min           0.000000
25%           0.000000
50%           0.000000
75%           2.000000
max         344.000000
Name: OBS_60_CNT_SOCIAL_CIRCLE, dtype: float64
count    306490.000000
mean          0.100049
std           0.362291
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          24.000000
Name: DEF_60_CNT_SOCIAL_CIRCLE, dtype: float64
count    307510.000000
mean       -962.858788
std         826.808487
min       -4292.000000
25%       -1570.000000
50%        -757.000000
75%        -274.000000
max           0.000000
Name: DAYS_LAST_PHONE_CHANGE, dtype: float64
count    307511.000000
mean          0.000042
std           0.006502
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_2, dtype: float64
count    307511.000000
mean          0.710023
std           0.453752
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: FLAG_DOCUMENT_3, dtype: float64
count    307511.000000
mean          0.000081
std           0.009016
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_4, dtype: float64
count    307511.000000
mean          0.015115
std           0.122010
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_5, dtype: float64
count    307511.000000
mean          0.088055
std           0.283376
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_6, dtype: float64
count    307511.000000
mean          0.000192
std           0.013850
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_7, dtype: float64
count    307511.000000
mean          0.081376
std           0.273412
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_8, dtype: float64
count    307511.000000
mean          0.003896
std           0.062295
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_9, dtype: float64
count    307511.000000
mean          0.000023
std           0.004771
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_10, dtype: float64
count    307511.000000
mean          0.003912
std           0.062424
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_11, dtype: float64
count    307511.000000
mean          0.000007
std           0.002550
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_12, dtype: float64
count    307511.000000
mean          0.003525
std           0.059268
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_13, dtype: float64
count    307511.000000
mean          0.002936
std           0.054110
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_14, dtype: float64
count    307511.00000
mean          0.00121
std           0.03476
min           0.00000
25%           0.00000
50%           0.00000
75%           0.00000
max           1.00000
Name: FLAG_DOCUMENT_15, dtype: float64
count    307511.000000
mean          0.009928
std           0.099144
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_16, dtype: float64
count    307511.000000
mean          0.000267
std           0.016327
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_17, dtype: float64

count    307511.000000
mean          0.008130
std           0.089798
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_18, dtype: float64
count    307511.000000
mean          0.000595
std           0.024387
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_19, dtype: float64
count    307511.000000
mean          0.000507
std           0.022518
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_20, dtype: float64
count    307511.000000
mean          0.000335
std           0.018299
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_21, dtype: float64
count    265992.000000
mean          0.006402
std           0.083849
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           4.000000
Name: AMT_REQ_CREDIT_BUREAU_HOUR, dtype: float64
count    265992.000000
mean          0.007000
std           0.110757
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           9.000000
Name: AMT_REQ_CREDIT_BUREAU_DAY, dtype: float64
count    265992.000000
mean          0.034362
std           0.204685
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           8.000000
Name: AMT_REQ_CREDIT_BUREAU_WEEK, dtype: float64
count    265992.000000
mean          0.267395
std           0.916002
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          27.000000
Name: AMT_REQ_CREDIT_BUREAU_MON, dtype: float64
count    265992.000000
mean          0.265474
std           0.794056
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         261.000000
Name: AMT_REQ_CREDIT_BUREAU_QRT, dtype: float64
count    265992.000000
mean          1.899974
std           1.869295
min           0.000000
25%           0.000000
50%           1.000000
75%           3.000000
max          25.000000
Name: AMT_REQ_CREDIT_BUREAU_YEAR, dtype: float64
count    307511.000000
mean          0.904787
std           0.293509
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: NAME_CONTRACT_TYPE_Cash loans, dtype: float64
count    307511.000000
mean          0.095213
std           0.293509
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_CONTRACT_TYPE_Revolving loans, dtype: float64
count    307511.000000
mean          0.658344
std           0.474266
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: CODE_GENDER_F, dtype: float64
count    307511.000000
mean          0.341643
std           0.474261
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: CODE_GENDER_M, dtype: float64
count    307511.000000
mean          0.659892
std           0.473746
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: FLAG_OWN_CAR_N, dtype: float64
count    307511.000000
mean          0.340108
std           0.473746
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: FLAG_OWN_CAR_Y, dtype: float64
count    307511.000000
mean          0.306327
std           0.460968
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: FLAG_OWN_REALTY_N, dtype: float64
count    307511.000000
mean          0.693673
std           0.460968
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: FLAG_OWN_REALTY_Y, dtype: float64
count    307511.000000
mean          0.010624
std           0.102524
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_TYPE_SUITE_Children, dtype: float64
count    307511.000000
mean          0.130561
std           0.336920
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_TYPE_SUITE_Family, dtype: float64
count    307511.000000
mean          0.000881
std           0.029673
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_TYPE_SUITE_Group of people, dtype: float64
count    307511.000000
mean          0.002816
std           0.052993
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_TYPE_SUITE_Other_A, dtype: float64
count    307511.000000
mean          0.005756
std           0.075649
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_TYPE_SUITE_Other_B, dtype: float64
count    307511.000000
mean          0.036974
std           0.188699
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_TYPE_SUITE_Spouse, partner, dtype: float64
count    307511.000000
mean          0.808186
std           0.393728
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: NAME_TYPE_SUITE_Unaccompanied, dtype: float64
count    307511.000000
mean          0.000033
std           0.005702
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_INCOME_TYPE_Businessman, dtype: float64
count    307511.000000
mean          0.232892
std           0.422675
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_INCOME_TYPE_Commercial associate, dtype: float64
count    307511.000000
mean          0.180033
std           0.384215
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_INCOME_TYPE_Pensioner, dtype: float64
count    307511.000000
mean          0.070576
std           0.256116
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_INCOME_TYPE_State servant, dtype: float64
count    307511.000000
mean          0.000059
std           0.007651
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_INCOME_TYPE_Student, dtype: float64
count    307511.000000
mean          0.000072
std           0.008458
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_INCOME_TYPE_Unemployed, dtype: float64
count    307511.000000
mean          0.516320
std           0.499734
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: NAME_INCOME_TYPE_Working, dtype: float64
count    307511.000000
mean          0.000533
std           0.023087
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_EDUCATION_TYPE_Academic degree, dtype: float64
count    307511.000000
mean          0.243448
std           0.429164
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_EDUCATION_TYPE_Higher education, dtype: float64
count    307511.000000
mean          0.033420
std           0.179731
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_EDUCATION_TYPE_Incomplete higher, dtype: float64
count    307511.000000
mean          0.012409
std           0.110704
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_EDUCATION_TYPE_Lower secondary, dtype: float64
count    307511.000000
mean          0.710189
std           0.453675
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: NAME_EDUCATION_TYPE_Secondary / secondary special, dtype: float64
count    307511.000000
mean          0.096826
std           0.295721
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_FAMILY_STATUS_Civil marriage, dtype: float64
count    307511.000000
mean          0.638780
std           0.480355
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: NAME_FAMILY_STATUS_Married, dtype: float64
count    307511.00000
mean          0.06429
std           0.24527
min           0.00000
25%           0.00000
50%           0.00000
75%           0.00000
max           1.00000
Name: NAME_FAMILY_STATUS_Separated, dtype: float64
count    307511.000000
mean          0.147780
std           0.354882
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_FAMILY_STATUS_Single / not married, dtype: float64
count    307511.000000
mean          0.052317
std           0.222666
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_FAMILY_STATUS_Widow, dtype: float64
count    307511.000000
mean          0.003649
std           0.060294
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_HOUSING_TYPE_Co-op apartment, dtype: float64
count    307511.000000
mean          0.887344
std           0.316173
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: NAME_HOUSING_TYPE_House / apartment, dtype: float64
count    307511.000000
mean          0.036366
std           0.187200
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_HOUSING_TYPE_Municipal apartment, dtype: float64
count    307511.000000
mean          0.008510
std           0.091858
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_HOUSING_TYPE_Office apartment, dtype: float64
count    307511.000000
mean          0.015873
std           0.124983
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_HOUSING_TYPE_Rented apartment, dtype: float64
count    307511.000000
mean          0.048258
std           0.214312
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: NAME_HOUSING_TYPE_With parents, dtype: float64
count    307511.000000
mean          0.031911
std           0.175764
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Accountants, dtype: float64
count    307511.000000
mean          0.015131
std           0.122075
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Cleaning staff, dtype: float64
count    307511.000000
mean          0.019336
std           0.137703
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Cooking staff, dtype: float64
count    307511.000000
mean          0.089655
std           0.285688
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Core staff, dtype: float64

count    307511.000000
mean          0.060495
std           0.238403
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Drivers, dtype: float64
count    307511.000000
mean          0.001831
std           0.042749
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_HR staff, dtype: float64
count    307511.000000
mean          0.037007
std           0.188779
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_High skill tech staff, dtype: float64
count    307511.000000
mean          0.001711
std           0.041323
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_IT staff, dtype: float64
count    307511.000000
mean          0.179460
std           0.383738
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Laborers, dtype: float64
count    307511.000000
mean          0.006806
std           0.082219
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Low-skill Laborers, dtype: float64
count    307511.000000
mean          0.069497
std           0.254297
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Managers, dtype: float64
count    307511.000000
mean          0.027762
std           0.164289
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Medicine staff, dtype: float64
count    307511.000000
mean          0.008624
std           0.092465
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Private service staff, dtype: float64
count    307511.000000
mean          0.002442
std           0.049358
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Realty agents, dtype: float64
count    307511.000000
mean          0.104393
std           0.305770
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Sales staff, dtype: float64
count    307511.000000
mean          0.004244
std           0.065006
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Secretaries, dtype: float64
count    307511.000000
mean          0.021856
std           0.146214
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Security staff, dtype: float64
count    307511.000000
mean          0.004384
std           0.066063
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: OCCUPATION_TYPE_Waiters/barmen staff, dtype: float64
count    307511.000000
mean          0.163695
std           0.369999
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: WEEKDAY_APPR_PROCESS_START_FRIDAY, dtype: float64
count    307511.000000
mean          0.164918
std           0.371107
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: WEEKDAY_APPR_PROCESS_START_MONDAY, dtype: float64
count    307511.000000
mean          0.110084
std           0.312995
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: WEEKDAY_APPR_PROCESS_START_SATURDAY, dtype: float64
count    307511.000000
mean          0.052619
std           0.223273
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: WEEKDAY_APPR_PROCESS_START_SUNDAY, dtype: float64
count    307511.000000
mean          0.164518
std           0.370745
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: WEEKDAY_APPR_PROCESS_START_THURSDAY, dtype: float64
count    307511.000000
mean          0.175282
std           0.380208
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: WEEKDAY_APPR_PROCESS_START_TUESDAY, dtype: float64
count    307511.000000
mean          0.168885
std           0.374651
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: WEEKDAY_APPR_PROCESS_START_WEDNESDAY, dtype: float64
count    307511.000000
mean          0.001395
std           0.037325
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Advertising, dtype: float64
count    307511.000000
mean          0.007980
std           0.088975
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Agriculture, dtype: float64
count    307511.000000
mean          0.008153
std           0.089923
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Bank, dtype: float64
count    307511.000000
mean          0.019459
std           0.138133
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Business Entity Type 1, dtype: float64
count    307511.000000
mean          0.034317
std           0.182044
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Business Entity Type 2, dtype: float64
count    307511.000000
mean          0.221104
std           0.414991
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Business Entity Type 3, dtype: float64
count    307511.000000
mean          0.000845
std           0.029065
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Cleaning, dtype: float64
count    307511.000000
mean          0.021856
std           0.146214
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Construction, dtype: float64
count    307511.000000
mean          0.001232
std           0.035085
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Culture, dtype: float64
count    307511.000000
mean          0.003089
std           0.055496
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Electricity, dtype: float64
count    307511.000000
mean          0.001821
std           0.042635
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Emergency, dtype: float64
count    307511.000000
mean          0.033833
std           0.180799
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Government, dtype: float64
count    307511.000000
mean          0.003141
std           0.055960
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Hotel, dtype: float64
count    307511.000000
mean          0.009619
std           0.097605
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Housing, dtype: float64
count    307511.000000
mean          0.003379
std           0.058029
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Industry: type 1, dtype: float64
count    307511.000000
mean          0.000354
std           0.018824
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Industry: type 10, dtype: float64
count    307511.000000
mean          0.008793
std           0.093359
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Industry: type 11, dtype: float64
count    307511.00000
mean          0.00120
std           0.03462
min           0.00000
25%           0.00000
50%           0.00000
75%           0.00000
max           1.00000
Name: ORGANIZATION_TYPE_Industry: type 12, dtype: float64
count    307511.000000
mean          0.000218
std           0.014759
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Industry: type 13, dtype: float64
count    307511.000000
mean          0.001489
std           0.038564
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Industry: type 2, dtype: float64
count    307511.000000
mean          0.010660
std           0.102695
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Industry: type 3, dtype: float64
count    307511.000000
mean          0.002852
std           0.053327
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Industry: type 4, dtype: float64
count    307511.000000
mean          0.001948
std           0.044092
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Industry: type 5, dtype: float64
count    307511.000000
mean          0.000364
std           0.019081
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Industry: type 6, dtype: float64
count    307511.000000
mean          0.004250
std           0.065055
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Industry: type 7, dtype: float64
count    307511.000000
mean          0.000078
std           0.008834
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Industry: type 8, dtype: float64
count    307511.000000
mean          0.010952
std           0.104079
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Industry: type 9, dtype: float64
count    307511.000000
mean          0.001941
std           0.044019
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Insurance, dtype: float64
count    307511.000000
mean          0.022373
std           0.147894
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Kindergarten, dtype: float64
count    307511.000000
mean          0.000992
std           0.031478
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Legal Services, dtype: float64
count    307511.000000
mean          0.036399
std           0.187280
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Medicine, dtype: float64
count    307511.000000
mean          0.008566
std           0.092153
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Military, dtype: float64
count    307511.000000
mean          0.001031
std           0.032090
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Mobile, dtype: float64
count    307511.000000
mean          0.054252
std           0.226514
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Other, dtype: float64
count    307511.000000
mean          0.007613
std           0.086918
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Police, dtype: float64
count    307511.000000
mean          0.007014
std           0.083458
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Postal, dtype: float64

count    307511.000000
mean          0.001288
std           0.035862
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Realtor, dtype: float64
count    307511.000000
mean          0.000276
std           0.016623
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Religion, dtype: float64
count    307511.000000
mean          0.005889
std           0.076515
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Restaurant, dtype: float64
count    307511.000000
mean          0.028919
std           0.167580
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_School, dtype: float64
count    307511.000000
mean          0.010559
std           0.102213
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Security, dtype: float64
count    307511.000000
mean          0.006419
std           0.079863
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Security Ministries, dtype: float64
count    307511.000000
mean          0.124913
std           0.330620
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Self-employed, dtype: float64
count    307511.000000
mean          0.005122
std           0.071383
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Services, dtype: float64
count    307511.000000
mean          0.001876
std           0.043276
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Telecom, dtype: float64
count    307511.000000
mean          0.001132
std           0.033621
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Trade: type 1, dtype: float64
count    307511.000000
mean          0.006179
std           0.078361
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Trade: type 2, dtype: float64
count    307511.000000
mean          0.011356
std           0.105956
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Trade: type 3, dtype: float64
count    307511.000000
mean          0.000208
std           0.014425
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Trade: type 4, dtype: float64
count    307511.000000
mean          0.000159
std           0.012622
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Trade: type 5, dtype: float64
count    307511.000000
mean          0.002052
std           0.045252
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Trade: type 6, dtype: float64
count    307511.000000
mean          0.025466
std           0.157535
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Trade: type 7, dtype: float64
count    307511.000000
mean          0.000654
std           0.025558
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Transport: type 1, dtype: float64
count    307511.000000
mean          0.007167
std           0.084356
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Transport: type 2, dtype: float64
count    307511.000000
mean          0.003860
std           0.062009
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Transport: type 3, dtype: float64
count    307511.000000
mean          0.017554
std           0.131323
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_Transport: type 4, dtype: float64
count    307511.000000
mean          0.004315
std           0.065549
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_University, dtype: float64
count    307511.000000
mean          0.180072
std           0.384248
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ORGANIZATION_TYPE_XNA, dtype: float64
count    307511.000000
mean          0.018494
std           0.134728
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FONDKAPREMONT_MODE_not specified, dtype: float64
count    307511.000000
mean          0.018273
std           0.133935
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FONDKAPREMONT_MODE_org spec account, dtype: float64
count    307511.000000
mean          0.240089
std           0.427138
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FONDKAPREMONT_MODE_reg oper account, dtype: float64
count    307511.000000
mean          0.039283
std           0.194268
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FONDKAPREMONT_MODE_reg oper spec account, dtype: float64
count    307511.000000
mean          0.489423
std           0.499889
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: HOUSETYPE_MODE_block of flats, dtype: float64
count    307511.000000
mean          0.004875
std           0.069648
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: HOUSETYPE_MODE_specific housing, dtype: float64
count    307511.000000
mean          0.003941
std           0.062656
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: HOUSETYPE_MODE_terraced house, dtype: float64
count    307511.000000
mean          0.030090
std           0.170835
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: WALLSMATERIAL_MODE_Block, dtype: float64
count    307511.000000
mean          0.007466
std           0.086085
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: WALLSMATERIAL_MODE_Mixed, dtype: float64
count    307511.000000
mean          0.005785
std           0.075840
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: WALLSMATERIAL_MODE_Monolithic, dtype: float64
count    307511.000000
mean          0.005284
std           0.072501
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: WALLSMATERIAL_MODE_Others, dtype: float64
count    307511.000000
mean          0.214757
std           0.410654
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: WALLSMATERIAL_MODE_Panel, dtype: float64
count    307511.000000
mean          0.210773
std           0.407858
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: WALLSMATERIAL_MODE_Stone, brick, dtype: float64
count    307511.000000
mean          0.017437
std           0.130892
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: WALLSMATERIAL_MODE_Wooden, dtype: float64
count    307511.000000
mean          0.518446
std           0.499660
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: EMERGENCYSTATE_MODE_No, dtype: float64
count    307511.000000
mean          0.007570
std           0.086679
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: EMERGENCYSTATE_MODE_Yes, dtype: float64

In [6]:
specious_cols = []
for col in train_x.columns:
    if train_x[col].std() > 10:
        specious_cols.append(col)
specious_cols

['SK_ID_CURR',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'DAYS_LAST_PHONE_CHANGE']

In [7]:
train_x['DAYS_EMPLOYED'] = train_x['DAYS_EMPLOYED'].mask(np.isclose(train_x['DAYS_EMPLOYED'], 365243), np.nan)
test_x['DAYS_EMPLOYED'] = test_x['DAYS_EMPLOYED'].mask(np.isclose(test_x['DAYS_EMPLOYED'], 365243), np.nan)
train_x['DAYS_EMPLOYED'].describe()

count    252137.000000
mean      -2384.169325
std        2338.360162
min      -17912.000000
25%       -3175.000000
50%       -1648.000000
75%        -767.000000
max           0.000000
Name: DAYS_EMPLOYED, dtype: float64

In [8]:
bureau = pd.read_csv('/kaggle/input/home-credit-default-risk/bureau.csv')
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [9]:

atm_previous_loan = bureau[bureau['CREDIT_ACTIVE'] == 'Active'].groupby('SK_ID_CURR', as_index=False)['AMT_CREDIT_SUM'].sum()
print(atm_previous_loan.head() )

previous_active_overdue = bureau[bureau['CREDIT_ACTIVE'] == 'Active'].groupby('SK_ID_CURR', as_index=False)['CREDIT_DAY_OVERDUE'].sum().rename(columns = {'CREDIT_DAY_OVERDUE': 'previous_active_overdue'})
print(previous_active_overdue.describe() )

previous_closed_overdue = bureau[bureau['CREDIT_ACTIVE'] == 'Closed'].groupby('SK_ID_CURR', as_index=False)['CREDIT_DAY_OVERDUE'].sum().rename(columns = {'CREDIT_DAY_OVERDUE': 'previous_closed_overdue'})
print(previous_closed_overdue.describe() )

   SK_ID_CURR  AMT_CREDIT_SUM
0      100001      884025.000
1      100002      481988.565
2      100003      810000.000
3      100005      598626.000
4      100008      267606.000
          SK_ID_CURR  previous_active_overdue
count  251815.000000            251815.000000
mean   278208.986832                 4.533407
std    102862.499983                86.807593
min    100001.000000                 0.000000
25%    189065.000000                 0.000000
50%    278126.000000                 0.000000
75%    367258.000000                 0.000000
max    456255.000000              5250.000000
          SK_ID_CURR  previous_closed_overdue
count  267925.000000            267925.000000
mean   278049.104320                 0.421681
std    102823.410284                25.988253
min    100001.000000                 0.000000
25%    188847.000000                 0.000000
50%    277972.000000                 0.000000
75%    367151.000000                 0.000000
max    456255.000000              2347.000000

In [10]:
from functools import reduce
train_x = reduce(lambda left,right: pd.merge(left,right,on = 'SK_ID_CURR', how = 'left'), [train_x, atm_previous_loan, previous_active_overdue,previous_closed_overdue])

test_x = reduce(lambda left,right: pd.merge(left,right,on = 'SK_ID_CURR', how = 'left'), [test_x, atm_previous_loan, previous_active_overdue,previous_closed_overdue])
train_x.shape, test_x.shape

((307511, 245), (48744, 245))

In [11]:
# correlations = train_x.corrwith(train_y,axis=1).sort_values()

# print('Positive Correlations:\n', correlations.tail(15))
# print('Negative Correlations:\n', correlations.head(15))
# f, axes = plt.subplots(2, 2, figsize=(15,10), sharex=False)
# sns.distplot(train_x['DAYS_BIRTH'], ax=axes[0, 0])
# sns.distplot(train_x['DAYS_EMPLOYED'], ax=axes[0, 1])
# sns.distplot(train_x['DAYS_ID_PUBLISH'], ax=axes[1, 0])
# plt.tight_layout()

In [ ]:
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.svm import SVC
from sklearn.metrics import roc_auc_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
# # model = RandomForestClassifier(n_estimators=100, max_depth=2)
import xgboost as xgb

train_X, valid_X, train_Y, valid_Y = train_test_split(train_x, train_y, test_size=0.2)

model = xgb.XGBClassifier()
model.fit(train_X, train_Y)
train_pred = model.predict_proba(train_X)[:, 1]
valid_pred = model.predict_proba(valid_X)[:, 1]
train_auc = roc_auc_score(train_Y, train_pred)
valid_auc = roc_auc_score(valid_Y, valid_pred)
print(train_auc, valid_auc)

In [ ]:
model.get_params, model.feature_importances_

In [ ]:
test_y = model.predict_proba(test_x)[:,1]
test_y[0]

In [ ]:
submission = pd.DataFrame({'SK_ID_CURR': test_x['SK_ID_CURR'], 'TARGET': test_y})
submission.head()
submission.to_csv('output.csv', index = False)